[user]
	email = contact@pierrezemb.fr
	name = Pierre Zemb
	signingkey = 3E0175B45AFFC7E5 

[url "git@github.com:"]
  insteadOf = gh:
[commit]
	gpgsign = true
[alias]
	chore = "!f() { [[ -z \"$GIT_PREFIX\" ]] || cd \"$GIT_PREFIX\" && if [[ -z $1 ]]; then git commit -m \"chore: \" -e; else git commit -m \"chore: $1\"; fi }; f"
	docs = "!f() { [[ -z \"$GIT_PREFIX\" ]] || cd \"$GIT_PREFIX\" && if [[ -z $1 ]]; then git commit -m \"docs: \" -e; else git commit -m \"docs: $1\"; fi }; f"
	feat = "!f() { [[ -z \"$GIT_PREFIX\" ]] || cd \"$GIT_PREFIX\" && if [[ -z $1 ]]; then git commit -m \"feat: \" -e; else git commit -m \"feat: $1\"; fi }; f"
	fix = "!f() { [[ -z \"$GIT_PREFIX\" ]] || cd \"$GIT_PREFIX\" && if [[ -z $1 ]]; then git commit -m \"fix: \" -e; else git commit -m \"fix: $1\"; fi }; f"
	localize = "!f() { [[ -z \"$GIT_PREFIX\" ]] || cd \"$GIT_PREFIX\" && if [[ -z $1 ]]; then git commit -m \"localize: \" -e; else git commit -m \"localize: $1\"; fi }; f"
	refactor = "!f() { [[ -z \"$GIT_PREFIX\" ]] || cd \"$GIT_PREFIX\" && if [[ -z $1 ]]; then git commit -m \"refactor: \" -e; else git commit -m \"refactor: $1\"; fi }; f"
	style = "!f() { [[ -z \"$GIT_PREFIX\" ]] || cd \"$GIT_PREFIX\" && if [[ -z $1 ]]; then git commit -m \"style: \" -e; else git commit -m \"style: $1\"; fi }; f"
	test = "!f() { [[ -z \"$GIT_PREFIX\" ]] || cd \"$GIT_PREFIX\" && if [[ -z $1 ]]; then git commit -m \"test: \" -e; else git commit -m \"test: $1\"; fi }; f"
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
[http]
	cookiefile = /home/pierre/.gitcookies
