[user]
	email = contact@pierrezemb.fr
	name = Pierre Zemb
	signingkey = 0AD1D7C6C2B35A17 

[url "git@github.com:"]
  insteadOf = gh:
[commit]
	gpgsign = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[url "git@github.com"]
	insteadOf = https://github.com
[core]
	excludesfile = /home/pierrez/.git_global_ignore
